# Make a copy of this file with the name .env and fill in the api-keys
# for the providers you use.
GROQ_API_KEY=
OPENAI_API_KEY=
OPENAI_API_KEY_PERS=
ANTRHOPIC_API_KEY=
GEMINI_API_KEY=
TOGETHER_API_KEY=
